
.title {
    font-family: map-get($font-families, title);
    font-weight: bold;
    font-size: map-get($font-sizes, big-title);
    margin: 10vh 0 5vh 0;
}

.subtitle {
    font-family: map-get($font-families, h1);
    font-weight: bold;
    // background-color: map-get($colors, black);
    // border-radius: 40px;
    // width: auto;
    // border: .5px solid map-get($colors, grey);
    padding: 1vh 1vw;
    font-size: map-get($font-sizes, title);
    margin: 5vh 0 5vh 0;
}

.input-task {
    font-family: map-get($font-families, subtitle);
    font-size: map-get($font-sizes, text);
    width: 35vw;
    border: 1px solid black;
    padding: 1vh 1vw;
    text-align: left;
    border-radius: 30px;
    outline: none;
}

.add-task {
    border: none;
    border-radius: 40px;
    background-color: white;
    .plus-circle {
        color: map-get($colors, orange);
        font-size: 3.5rem;
    }

    .plus-circle:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.4);
        border-radius: 40px; 
    }
}



.circle{
    font-size: 2rem;
}

.completed {
    text-decoration: line-through;
}

.incomplete {
    text-decoration: none;
}

// .task-list {
//     display: flex;
//     flex-direction: column;
//     align-items: center; /* Alinea horizontalmente en el centro */
//     justify-content: start; /* Alinea verticalmente en el centro */
//     // margin-top: 20px; /* Espacio en la parte superior */
//     // margin-bottom: 20px; /* Espacio en la parte inferior */
// }

// #task-list {
//     display: flex;
//     flex-direction: column;
//     justify-content: center; /* Alinea verticalmente en el centro */
//     margin-left: 3vw;
   
// }

.task-row {
    display: flex;
    justify-content: space-between; /* Coloca los íconos en las puntas */
    align-items: center; /* Centra verticalmente los elementos */
    
}






.task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221, 0.4);
    border-radius: 30px;
  
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden; 
    max-width: 100%; 
}

// .task-row {


// }

.task-text {
    margin: 0;
    flex-grow: 1;
    padding-left: 10px; 
  
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: left;
    font-family: map-get($font-families, subtitle);
    font-size: map-get($font-sizes, big-text );
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
    /* CSS */
    .add-task-container {
        gap: 5vw;
        .input-task {
            width: 50vw;
        }
      
        
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {

    /* CSS */
    
    .title {
        font-size: map-get($font-sizes, h2);
    }
    .add-task-container {
        gap: 5vw;
        .input-task {
            width: 50vw;
            font-size: 1rem;
            padding-left: 1vw;
        }

        .add-task {
            .plus-circle {
                font-size: 2.5rem;
            }
        }
      
        
    }

    .task-text {
        font-size: 1.2rem;
    }

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 390px) and (max-width: 844px) {
    
    /* CSS */
  
    .title {
        font-size: map-get($font-sizes, h2);
    }
    .add-task-container {
        gap: 15vw;
        .input-task {
            width: 56vw;
            font-size: 1rem;
            padding-left: 4vw;
        }

        .add-task {
            .plus-circle {
                font-size: 2.5rem;
            }
        }
      
        
    }

    .task-text {
        font-size: 1rem;
    }

    .icon-size {
        font-size: 1.2rem;
    }

    .task-item {
        
    }
    .tasks-container {
        
    }

    .task-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border: 1px solid rgb(221, 221, 221, 0.4);
        border-radius: 30px;
      
        padding: 10px;
        margin-bottom: 10px;
        overflow: hidden; 
        max-width: 100%; 
    }
//prueba
    .tasks-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .task-item {
        width: 100%;
        max-width: 100%;
    }

  }

  @media (min-width: 375px) and (max-width: 1024px) {
    
    /* CSS */
    /* CSS */
  
    .title {
        font-size: map-get($font-sizes, big-text);
    
    }
    .add-task-container {
        gap: 7vw;
        .input-task {
            width: 70vw;
            font-size: 1rem;
            padding-left: 4vw;
        }

        .add-task {
            .plus-circle {
                font-size: 2.5rem;
            }
        }
      
        
    }

    .task-text {
        font-size: 1rem;
    }

    .icon-size {
        font-size: 1.5rem;
    }

    .task-item {
        
    }
    .tasks-container {
        
    }

    .task-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border: 1px solid rgb(221, 221, 221, 0.4);
        border-radius: 30px;
      
        padding: 10px;
        margin-bottom: 10px;
        overflow: hidden; 
        max-width: 100%; 
    }
//prueba
    .tasks-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .task-item {
        width: 100%;
        max-width: 100%;
    }
  }
  