

$colors : (
    black: black,
    dark-grey: #5E5C5A,
    grey: #747474,
    white: white,
    bone: #FFFCF2,
    orange: #F14F24,
    light-orange: #E58F3F,
    purple: #5B49FF,
    light-purple: #7983FF,
    magenta: #AD4694,
    light-magenta: #C95DFF,
    salmon: #EB7271,
    light-salmon: #FF7777,

);

$font-sizes : (
    big-title: 5rem,
    h1: 4rem,
    h2: 3rem,
    big-text: 2rem,
    text: 1.5rem,
);

$font-families: (
    title : 'Rebond Grotesque',
    subtitle : 'Roobert',
);